{% extends "base.html" %}
{% load static %}
{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}
{% block content %}

<div class="container-fluid mb-2">
    <div class="row">
        <div class="col">
            <h2 class="logo-style mt-3">Upcoming Events <i class="far fa-calendar-plus"></i></h2>
            <hr class="separator w-70" />
        </div>
    </div>
    <div class="row mb-5">
        <div class="col">
            <div class="w-70 mx-auto">
                Bootcamps on Monday and Wednesday evenings.
            </div>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col">
            <h3>Outdoor Bootcamps</h3>
            <hr class="w-70">
            <div>
                Bootcamps take place in Castletroy Park every Monday and Wednesday.
            </div>
        </div>
    </div>
</div>

{% endblock %}