{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container h-100">
    <div class="row h-100">
        <div class="col-7 col-md-6 my-auto">
            <h1 class="display-4 logo-style">
                Iain Hurton Fitness
            </h1>
            <ul class="roles">
                <li><i class="fas fa-certificate"></i> Fitness Instructor</li>
                <li><i class="fas fa-certificate"></i> Personal Trainer</li>
                <li><i class="fas fa-certificate"></i> Swimming Teacher</li>
            </ul>
            <p class="sub-style">Start your fitness journey today!</p>
            <div class="my-5">
                <h4>
                    <a href="{% url 'about' %}" class="enter-button btn btn-lg rounded-0 text-uppercase py-3">Enter</a>
                </h4>
            </div>
        </div>
    </div>
</div>
{% endblock %}