html {
    height: 100%;
}

/* 
background: url('https://github.com/alandoherty95/IainHurtonFitness/blob/main/media/images/hf-cover-image.jpg?raw=true') no-repeat center center fixed;
background-size: cover;
*/

body {
    height: calc(100vh - 164px);
    font-family: 'Roboto', sans-serif;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.main-logo-link {
    width: fit-content;
}

.enter-button {
    background: #1985A1;
    color: white;
    border: 2px solid #1985A1;
    min-width: 200px;
}

.go-button {
    background: #1985A1;
    color: white;
    border: 2px solid #1985A1;
    min-width: 200px;
}

.btn-black {
    background: black;
    color: white;
    border: 2px solid black;
    min-width: 200px;
}

.collapse-button {
    background: #1985A1;
    color: white;
    border: 2px solid #1985A1;
    margin: 1px;
}

.enter-button:hover,
.enter-button:active,
.enter-button:focus {
    background: white;
    color: #1985A1;
    border: 2px solid #1985A1;
}

.go-button:hover,
.go-button:active,
.go-button:focus {
    background: white;
    color: black;
    border: 2px solid #1985A1;
}

.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: white;
    color: black;
    border: 2px solid black;
}

.collapse-button:hover,
.collapse-button:active,
.collapse-button:focus {
    background: white;
    color: black;
    border: 2px solid #1985A1;
}

.logo-style {
    color: #1985A1;
    font-family: 'Courgette', cursive;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.nav-item:hover {
    transform: scale(1.1);
    transition: 0.5s;
    border-bottom: 1px solid #1985A1;
    border: 25%;
}

.nav-item {
    text-transform: uppercase;
    letter-spacing: 2px;
}

.card {
    border: 1px solid #1985A1;
}

.card-body {
    font-size: larger;
    min-height: 10rem;
    margin: 0.5rem;
}

.card-body:hover {
    transform: scale(1.02);
    transition: 0.3s;
}

.social {
    text-align: center;
}

#social-links {
    font-size: 2em;
    padding: 0.25em;
    text-decoration: none;
}

#social-links li {
    padding: 0.5em;
}

#social-links a {
    text-decoration: none;
    color: #1985A1;
}

#social-links li a:visited {
    text-decoration: none;
}

#social-links li:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

/* Club ethos */

#club-ethos {
    height: 40rem;
}

#left-about {
    padding-top: 2rem;
    width: 33%;
    float: left;
}

#right-about {
    padding-top: 2rem;
    width: 33%;
    float: right;
}

#center-about {
    width: 33%;
    margin: 0 auto;
}

.left-about-heading {
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 3rem;
}

.right-about-heading {
    width: 60%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 3rem;
}

.right-about-heading p {
    text-align: right;
}

.right-about-heading h2 {
    text-align: right;
}

/* Club ethos center image */

#welcome {
    margin: 20px 0;
    text-align: center;
}

#circle-container {
    width: 30rem;
    height: 30rem;
    padding: 3rem;
    border-style: solid;
    border-color: #cccccc;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
}

#circle-cover-bg {
    background: url('https://github.com/alandoherty95/IainHurtonFitness/blob/main/media/images/circle-image.jpg?raw=true') no-repeat center center;
    height: 100%;
    border-radius: 50%;
}


/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}