html {
    height: 100%;
}

/* 
background: url('https://github.com/alandoherty95/IainHurtonFitness/blob/main/media/images/hf-cover-image.jpg?raw=true') no-repeat center center fixed;
background-size: cover;
*/

body {
    height: calc(100vh - 164px);
    font-family: 'Roboto', sans-serif;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.main-logo-link {
    width: fit-content;
}

.enter-button {
    background: #1985A1;
    color: white;
    border: 2px solid #1985A1;
    min-width: 260px;
}

.go-button {
    background: #1985A1;
    color: white;
    border: 2px solid #1985A1;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
    border: 2px solid black;
    min-width: 260px;
}

.enter-button:hover,
.enter-button:active,
.enter-button:focus {
    background: white;
    color: #1985A1;
    border: 2px solid #1985A1;
}

.go-button:hover,
.go-button:active,
.go-button:focus {
    background: white;
    color: black;
    border: 2px solid #1985A1;
}

.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: white;
    color: black;
    border: 2px solid black;
}

.logo-style {
    color: #1985A1;
    font-family: 'Courgette', cursive;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}