<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item">
            <a href="{% url 'about' %}" class="logo-font font-weight-bold nav-link text-black mx-3">
                About
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'events' %}" class="logo-font font-weight-bold nav-link text-black mx-3">
                Events
            </a>
        </li>
        <!-- Gallery -->
        <li class="nav-item">
            <a href="{% url 'gallery' %}" class="logo-font font-weight-bold nav-link text-black mx-3">
                Gallery
            </a>
        </li>
        <!-- Blog -->
        <li class="nav-item">
            <a href="{% url 'all_blogposts' %}" class="logo-font font-weight-bold nav-link text-black mx-3">
                Blog
            </a>
        </li>
        <!-- Contact -->
        <li class="nav-item">
            <a href="{% url 'contact' %}" class="logo-font font-weight-bold nav-link text-black mx-3">
                Contact
            </a>
        </li>
    </ul>
</div>