<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#">
                About
            </a>
        </li>
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#">
                Classes
            </a>
        </li>
        <!-- Contact -->
        <li class="nav-item ">
            <a href="" class="logo-font nav-link text-black mr-4">
                Contact
            </a>
        </li>
        <!-- Blog -->
        <li class="nav-item ">
            <a href="" class="logo-font nav-link text-black">
                Blog
            </a>
        </li>
    </ul>
</div>