{% extends "base.html" %}
{% load static %}
{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="overlay"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col mt-3">
            <!-- Page heading -->
            <h2 class="logo-style m-3">Blog</h2>
        </div>
    </div>
    <div class="row">
        <!-- Post image -->
        <div class="col-8">
            <h3 class="logo-style m-3">{{ post.title }}</h3>
            <p class="blog-text m-3">{{ post.body }}</p>
            <!-- Displays post image -->
        </div>
        <div class="col-4">
            <a href="{% url 'all_blogposts' %}" class="btn go-button">
                <i class="fas fa-chevron-left"></i> Return to Blog
            </a>
            <!-- Admin access only -->
            {% if request.user.is_superuser %}
            <medium class="m-2">
                <a href="{% url 'edit_blogpost' post.id %}" class="text-warning" title="Edit post">Edit</a> |
                <a href="{% url 'delete_blogpost' post.id %}" class="text-danger" title="Delete post">Delete</a>
            </medium>
            {% endif %}
        </div>
        <!-- Post details -->
        <div class="col-12 col-md-6 col-lg-4">
            {% if post.image %}
            <a href="{{ post.image.url }}" target="_blank">
                <img class="card-img-top img-fluid" src="{{ post.image.url }}" alt="{{ post.title }}">
            </a>
            <!-- Or else displays default image -->
            {% else %}
            <a href="">
                <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ post.title }}">
            </a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}