{% extends "base.html" %}
{% load static %}
{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}
{% block content %}

<section id="club-ethos">
    <h2 class="logo-style" id="welcome">Benefits of Exercise <i class="fas fa-running"></i></h2>
    <div id="left-about">
        <div class="left-about-heading">
            <h2 class="logo-style">Feel Healthy <i class="fas fa-heartbeat"></i></h2>
            <hr>
            <p>
                Since it improves aerobic fitness, running is a great way to help improve your cardiovascular
                health. Plus, it burns calories and can build strength.
            </p>
        </div>
        <div class="left-about-heading">
            <h2 class="logo-style">Feel Free <i class="fab fa-fly"></i></h2>
            <hr>
            <p>
                Physical exercise, running included, is known to release endorphins in the brain. Endorphins make
                you more energetic, more awake and, yes, happier.
            </p>
        </div>
    </div>
    <div id="right-about">
        <div class="right-about-heading">
            <h2 class="logo-style">Get Social <i class="fas fa-users"></i></h2>
            <hr>
            <p>
                When we run with others, we can run farther and faster more easily. Social running can pull you out
                of a running funk or low mood, inspire you to try new events.
            </p>
        </div>
        <div class="right-about-heading">
            <h2 class="logo-style">Feel Strong <i class="fas fa-dumbbell"></i></h2>
            <hr>
            <p>
                Running strengthens your heart by pumping blood more effectively through your body.
            </p>
        </div>
    </div>
    <div id="center-about">
        <div id="circle-container">
            <div id="circle-cover-bg"></div>
        </div>
    </div>
</section>

<section class="container-fluid mb-2">
    <div class="row">
        <div class="col">
            <h2 class="logo-style m-3">About <i class="far fa-address-card"></i></h2>
            <hr class="separator w-70" />
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3 class="logo-style m-3">Get to Know Iain <i class="far fa-user-circle"></i></h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="card card-body shadow">
                <h4 class="logo-style mb-1">Hello, I'm Iain Hurton</h4>
                <hr>
                <p>I love all kinds of exercise including swimming, lifting weights, running and hiking. Exercise is a major part of my lifestyle. Fitness is my passion. I found my love of fitness at 16 years old and haven't looked back since.</p>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card card-body shadow">
                <h4 class="logo-style mb-1">My fitness journey</h4>
                <hr>
                <p>I got into fitness at age 16. I was very unfit and had poor eating
                    habits. My father had recently become more active at that time and
                    asked me to join him in going to a bootcamp. I found it very difficult
                    and so, it drove me to always push harder and better myself.</p>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card card-body shadow">
                <h4 class="logo-style mb-1">My favourite ways to exercise</h4>
                <hr>
                <p>My favourite way to exercise would be a push/pull training plan.
                    Push exercises involve working on muscles in the chest, shoulders
                    and triceps. Pull would focus on legs and core. That being said, I
                    really enjoy circuit training because it is challenging and makes me
                    want to better my last attempt.</p>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card card-body shadow">
                <h4 class="logo-style mb-1">My passion for teaching</h4>
                <hr>
                <p>My parents always brought us swimming as kids. I truly believe it is a
                    necessity to obtain this skill from an early age as it could potentially
                    save a life. Although not all my clients are young kids, the courage to
                    try to learn an essential skill at any age is incredible and I find it very
                    rewarding to be able to help them on this journey.</p>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card card-body shadow">
                <h4 class="logo-style mb-1">My love for personal training</h4>
                <hr>
                <p>Fitness is my passion! The benefits, both physically and mentally,
                    have really changed my life. Being able to help others, with the
                    knowledge I have gained over the years in order to better
                    themselves, is what makes me love doing what I do.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3 class="logo-style m-3">Client Testimonials <i class="fas fa-edit"></i></h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="card card-body shadow">
                <h4 class="logo-style mb-1">Brendan, aged 44</h4>
                <hr>
                <p>Iain is a professional well-prepared trainer with natural charisma, a positive outlook and a growth mindset. The product he delivers to me has responded to any challenge and consistently improved in quality over time. Iain's classes are an excellent fit for me as they are varied and fun. Iain is very professional and is always there early with class equipment set up ready to greet participants as they arrive. He also has good session plans made but is comfortable to adapt if an extra person turns up or if somebody joins in late.</p>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card card-body shadow">
                <h4 class="logo-style mb-1">Anne, aged 54</h4>
                <hr>
                <p>Iain was a very professional, courteous and patient swimming instructor. He had a very kind and gentle approach to teaching, he acknowledged my fear in the water and personalised technigues that helped me relax in the water and become confident in my abilities. Thanks to Iain I am now confident in the water and absolutely love swimming. My confidence and ability has definitely grown to a point where I now really enjoy my time in the gym. I highly recommend Iain as a fitness/swim instructor for somebody wanting to reach their individual goals.</p>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card card-body shadow">
                <h4 class="logo-style mb-1">Mary, aged 72</h4>
                <hr>
                <p>I did aqua aerobics twice a week with Iain at Castletroy Park Hotel, all the women loved when Iain was doing the class. His class was great fun, motivational and effective. His wonderful playlists got us moving, old ladies forgot their aches and pains as they exercised to his great music. He cheered everyone up, always had a smile, and his energy and dance moves were a joy to watch.</p>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card card-body shadow">
                <h4 class="logo-style mb-1">Breda, aged 25</h4>
                <hr>
                <p>Couldn't recommend Iain enough. I did personal training and classes with him. Extremely motivational and always pushed people to do their best. He does fantastic classes and great music. Best personal trainer by far and cannot wait to get back to his classes./p>
            </div>
        </div>
    </div>
</section>

{% endblock %}