{% extends "base.html" %}
{% load static %}
{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}
{% block content %}

<div class="container flex-fill ">
    <div class="row header mb-3 mt-5 text-center">
        <div class="col">
            <h1>About us</h1>
            <hr class="separator w-25" />
        </div>
    </div>
    <div class="row mb-5">
        <div class="col text-center">
            <div class="w-50 mx-auto">
                Get to know Iain Hurton
            </div>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col text-center">
            <h3>Our Vision</h3>
            <hr class="w-25">
            <div>
                I set goals and objectives
            </div>
        </div>
    </div>
    <div class="row mb-5" id="our-story">
        <div class="col text-center">
            <h3>Our Story</h3>
            <hr class="w-25">
            <div>
                I found my fitness
            </div>
        </div>
    </div>
</div>

{% endblock %}