{% extends "base.html" %}
{% load static %}
{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}
{% block content %}

<div class="container-fluid mb-2 text-center">
    <div class="row">
        <div class="col">
            <h2 class="logo-style mt-3">About Iain</h2>
            <hr class="separator w-70" />
        </div>
    </div>
    <div class="row mb-5">
        <div class="col text-center">
            <div class="w-70 mx-auto">
                Get to know Iain Hurton
            </div>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col text-center">
            <h3>Our Vision</h3>
            <hr class="w-70">
            <div>
                I set goals and objectives
            </div>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col text-center">
            <h3>Our Story</h3>
            <hr class="w-70">
            <div>
                I found my fitness
            </div>
        </div>
    </div>
</div>

{% endblock %}